<div style="padding-left: 100px;padding-right: 100px">
  <h2 class="text-center">Semesters</h2>

  <form (ngSubmit)="saveSemester()" class="row">
    <!-- Your existing form code here -->
  </form>

  <div *ngIf="semesters">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="text-center">
          ID
          <button class="form-control" (click)="sort('id')">Sort</button>
        </th>
        <th class="text-center">
          Name
          <button class="form-control" (click)="sort('name')">Sort</button>
        </th>
        <th class="text-center">
          Start Date
          <button class="form-control" (click)="sort('startDate')">Sort</button>
        </th>
        <th class="text-center">
          End Date
          <button class="form-control" (click)="sort('endDate')">Sort</button>
        </th>
        <th *ngIf="checkIfAdmin()">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let semester of sortedSemesters()">
        <td>{{ semester.id }}</td>
        <td>{{ semester.name }}</td>
        <td>{{ semester.startDate | date }}</td>
        <td>{{ semester.endDate | date }}</td>
        <td *ngIf="checkIfAdmin()"><button (click)="selectSemester(semester)" class="btn btn-info">Edit</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
