<!-- header.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Yusufjon's angular project</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/taught-course">Taught courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/student-enrollment">Student enrollments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Instructors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/course">Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/semester">Semester</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/student">Student</a>
        </li>
        <li class="nav-item ml-auto">
          <a *ngIf="!authService.isLoggedIn()" class="nav-link" routerLink="/login">Login</a>
          <a *ngIf="authService.isLoggedIn()" (click)="logout()" class="nav-link" href="#">Logout</a>
        </li>
        <li class="nav-item ml-auto">
          <!-- ... your other nav items ... -->
          <a *ngIf="!authService.isLoggedIn()" class="nav-link" routerLink="/register-component">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
