<div style="padding-left: 100px;padding-right: 100px">
  <form (ngSubmit)="createCourse(name.value, code.value, parseInt(creditValue.value), responsibleDepartment.value); name.value=''; code.value=''; creditValue.value=''; responsibleDepartment.value=''" class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="name">Name:</label>
        <input #name class="form-control" required>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="code">Code:</label>
        <input #code class="form-control" required>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="creditValue">Credit Value:</label>
        <input #creditValue type="number" class="form-control" required>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="responsibleDepartment">Responsible Department:</label>
        <input #responsibleDepartment class="form-control" required>
      </div>
    </div>
    <div class="col-md-12 mt-3 mb-3">
      <button type="submit" class="btn btn-primary">Create Course</button>
    </div>
  </form>

  <h2 class="text-center">Courses</h2>
<div *ngIf="courses">
  <table class="table table-striped">
    <thead>
    <tr>

      <th class="text-center">
        ID
        <button class="form-control"  (click)="sort('id')">Sort</button>
      </th>

      <th class="text-center">
        Name
        <button class="form-control"  (click)="sort('name')">Sort</button>
      </th>
      <th class="text-center">
        Code
        <button class="form-control"  (click)="sort('code')">Sort</button>
      </th>
      <th class="text-center">
        Credit Value
        <button class="form-control"  (click)="sort('creditValue')">Sort</button>
      </th>
      <th class="text-center">
        Responsible Department
        <button class="form-control"  (click)="sort('responsibleDepartment')">Sort</button>
      </th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of sortedCourses()">
      <ng-container *ngIf="editCourse && editCourse.id === course.id; else normalRow">
        <td>{{ course.id }}</td>
        <td><input [(ngModel)]="editCourse.name" class="form-control"></td>
        <td><input [(ngModel)]="editCourse.code" class="form-control"></td>
        <td><input [(ngModel)]="editCourse.creditValue" type="number" class="form-control"></td>
        <td><input [(ngModel)]="editCourse.responsibleDepartment" class="form-control"></td>
        <td>
          <button (click)="updateCourse(editCourse)" class="btn btn-primary">Save</button>
          <button (click)="toggleEditForm(null)" class="btn btn-secondary">Cancel</button>
        </td>
      </ng-container>
      <ng-template #normalRow>
        <td>{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.code }}</td>
        <td>{{ course.creditValue }}</td>
        <td>{{ course.responsibleDepartment }}</td>
        <td>
          <button (click)="toggleEditForm(course)" class="btn btn-primary">Edit</button>
        </td>
      </ng-template>
    </tr>
    </tbody>
  </table>
</div>
</div>
