<!-- src/app/student/student.component.html -->
<form (submit)="onSubmit(form.value)" #form="ngForm">
  <div class="form-group">
    <label for="course">Course</label>
    <select class="form-control" id="course" [(ngModel)]="model.courseId" name="course" required>
      <option *ngFor="let course of courses" [value]="course.id">{{ course.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="semester">Semester</label>
    <select class="form-control" id="semester" [(ngModel)]="model.semesterId" name="semester" required>
      <option *ngFor="let semester of semesters" [value]="semester.id">{{ semester.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="student">Student</label>
    <select class="form-control" id="student" [(ngModel)]="model.studentId" name="student" required>
      <option *ngFor="let student of students" [value]="student.id">{{ student.name }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Enroll</button>
</form>

<div class="table-responsive" style="padding: 0 40px 0 40px">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>
        Course Name
      </th>
      <th>
        Semester
      </th>
      <th>
        Students
      </th>
    </tr>
    <tr>
      <th>
        <input class="form-control"  (input)="onFilterChange($any($event.target).value, 'courseName')" placeholder="Filter by course name">
      </th>
      <th>
        <input class="form-control"  (input)="onFilterChange($any($event.target).value, 'semester')" placeholder="Filter by semester">
      </th>
      <th>
        <input  class="form-control" (input)="onFilterChange($any($event.target).value, 'students')" placeholder="Filter by student">
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let course of filteredCourses">
      <td>{{ course.name }}</td>
      {{ findSemesterByCourse(course.id)?.name }}
      <td>
        <ul class="list-unstyled mb-0">
          <li *ngFor="let student of courseStudentsMap.get(course.id)">
            {{ student.name }}
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>
